.block__menu {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f2f2;
  width: 960px;
  border-right: 10px solid #b6b6b6;
}

.block__menu-title h3,
.block__menu ul .nav-link {
  padding: 10px 20px;
}
.block__menu-title {
  text-align: center;
  background: #d8d8d8;
}
.block__menu-title h3 {
  margin: 0;
  font-weight: 700;
}

.block__menu ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.block__menu ul .nav-link {
  color: #000;
}
